.picker-container {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  
  .country-name {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    color: var(--color-text);
    margin-bottom: 20px;
  }
  
  .picker-options {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  
  .picker-option {
    width: 100%;
    aspect-ratio: 3/2;
    padding: 10px;
    background-color: var(--color-button-background);
    border: 2px solid var(--color-button);
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .picker-option:hover:not(:disabled) {
    background-color: var(--color-button-hover);
  }
  
  .picker-option.correct {
    background-color: rgba(0, 128, 0, 0.301) !important;
    border: 2px solid rgba(0, 128, 0, 0.678) !important;
  }
  
  .picker-option.incorrect {
    background-color: rgba(255, 0, 0, 0.371) !important;
    border: 2px solid rgba(255, 0, 0, 0.715) !important;
  }
  
  .picker-option .flag-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .picker-option .flag-image {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
    object-fit: contain;
    transition: transform 0.15s ease, opacity 0.15s ease;
  }
  
  .picker-option .flag-image.changing {
    transform: scale(0.99);
    opacity: 0;
  }