.quiz-options {
  width: 100%;
  max-width: 500px;
  min-height: 220px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.option {
  width: 100%;
  height: 100px;
  padding: 14px;
  font-size: 20px;
  background-color: var(--color-button-background);
  color: var(--color-text);
  border: 2px solid var(--color-button);
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  word-break: break-word;
}

.option:hover:not(:disabled) {
  background-color: var(--color-button-hover);
}

.option.correct {
  background-color: rgba(0, 128, 0, 0.301) !important;
  border: 2px solid rgba(0, 128, 0, 0.678) !important;
}

.option.incorrect {
  background-color: rgba(255, 0, 0, 0.371) !important;
  border: 2px solid rgba(255, 0, 0, 0.715) !important;
}