html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  font-family: var(--font-family-base);
}

.app {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: var(--color-background);
  color: var(--color-text);
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.game-container {
  position: absolute;
  width: 100%;
  padding: 20px;
  max-width: 600px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  left: 50%;
  transform: translateX(-50%);
  height: calc(100% - 76px);
  top: 76px;
}

@media (max-width: 550px) {
  .type-mode .game-container {
    position: absolute;
    top: 76px;
    height: auto;
    min-height: calc(100% - 76px);
    transform: translateX(-50%);
    padding-top: 20px;
    justify-content: flex-start;
  }
}